{% extends "base.html" %}
{% from "macros.html" import change_list, warning_box %}

{% block title %}Your Nifty account was updated{% endblock %}

{% block content %}
  <p class="h2">Account update notice</p>
  <p class="p-secondary">
    Hi {{ user_name }}, the following change{{ 's were' if changes|length > 1 else ' was' }} made to your Nifty by Paragon account:
  </p>

  {{ change_list(changes) }}

  {% call warning_box() %}
    <strong>Didn't expect this?</strong>&nbsp;If you did not expect these changes, please contact our support team immediately at
    <a href="mailto:support@paragoneschool.com" class="link-plain">support@paragoneschool.com</a>.
  {% endcall %}
{% endblock %}
