{% extends "base.html" %}
{% from "macros.html" import cta_button, fallback_link, info_box %}

{% block title %}You've been invited to Nifty by Paragon{% endblock %}

{% block content %}
  <h2 class="h1">Welcome to Nifty by Paragon, {{ user_name }}!</h2>

  <p class="p">
    An account has been created for you as an organization administrator.
    Your temporary login credentials are below.
  </p>

  {{ info_box("Temporary Password", temp_password) }}

  <p class="p">
    First, verify your email address using the button below. After verifying,
    you can log in with your email and the temporary password above &mdash;
    we recommend changing it immediately.
  </p>

  {{ cta_button(verification_url, "Verify Your Email", margin="8px 0 28px 0") }}
  {{ fallback_link(verification_url) }}

  <p class="p-fine">
    This verification link expires in 72&nbsp;hours. If you did not expect
    this email, please contact your administrator.
  </p>
{% endblock %}
