{% extends "base.html" %}
{% from "macros.html" import cta_button, fallback_link %}

{% block title %}Reset Your Nifty by Paragon Password{% endblock %}

{% block content %}
  <h2 class="h1">Reset your password</h2>

  <p class="p">
    Hi {{ user_name }}, we received a request to reset your Nifty by Paragon password.
    Click the button below to choose a new one. This link expires in
    <strong>1&nbsp;hour</strong>.
  </p>

  {{ cta_button(reset_url, "Reset Password") }}
  {{ fallback_link(reset_url) }}

  <p class="p-fine">
    If you didn't request a password reset, you can safely ignore this email.
    Your password will not change.
  </p>
{% endblock %}
