{% extends "base.html" %}
{% from "macros.html" import cta_button, fallback_link %}

{% block title %}Welcome to Nifty by Paragon{% endblock %}

{% block content %}
  <h2 class="h1">Welcome to Nifty by Paragon, {{ user_name }}!</h2>

  <p class="p">
    Your account has been created. Please verify your email address to
    activate your account and log in.
  </p>

  {{ cta_button(verification_url, "Verify Your Email") }}
  {{ fallback_link(verification_url) }}

  <p class="p-fine">
    This link expires in 72&nbsp;hours. If you did not expect this email,
    you can safely ignore it.
  </p>
{% endblock %}
